body {
  background-color:#3c863c;
}

header {
	color: white;
}

nav a {
  color: white;

  border-bottom : 1px dotted white;
}

nav a:hover {
  background-color: white;
  color: #3c863c;

}


article section h1 a {
  border-bottom : 5px dotted white;
  color: white;
  
}

article section h1 a:hover {
  background-color: white;
  color: #3c863c;
  
}

h4 {
	color: white;
}

.photos {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

}

.photo {
  width: 280px;
  margin: 10px;
  position: relative;
}

.small {
  width: 170px;
}

.photo img {
  transition: filter 1.3s;
}

.photo:hover img {
  filter: grayscale(100%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,200,107,0.7);
  opacity: 0;
  transition: all .3s;
  z-index: 3;
}

.photo:hover .overlay {
  opacity: 1;
}

.photo p {
  position: absolute;
  
  padding: 20px;
  font-size: 32px;
  line-height: 1.2;
  color: white;
  font-family: 'Space Mono', monospace;
}



footer {
	color: white;
}